button{
    border: none;
}

.icon_button{
    background-color: var(--white100);
    min-width: 54px;
    min-height: 54px;
    width: 54px;
    height: 54px;
    border-radius: 16px;
}

.icon_button img{
    width: 24px;
    height: 24px;
}

.action_button{
    width: 100%;
    height: 54px;
    border-radius: 16px;
    background-color: var(--black100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.myloc{
    position: absolute;
    right: 12px;
    bottom: 120px;
}