*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--white100);
}

.map_button{
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
  padding: 12px 12px 40px 12px;
}

.map_header{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;
  padding: 16px 24px 16px 16px;
  justify-content: center;
}

.balance {
  background-color: var(--black100);
  color: var(--white100);
  height: 40px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  gap: 2px;
}

#balanceAmount{
  margin-left: 2px;
}



#map {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border-radius: 24px;
}


/* Базовый стиль модалки */
.modal {
  display: none; /* скрыта по умолчанию */
  position: fixed;
  z-index: 1000; /* поверх карты и интерфейса */
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 12px;
  background-color: var(--black020);
  align-items: flex-end;
  justify-content: center;
}

.modal_header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
}

/* Контент модалки */
.modal-content {
    background-color: var(--white100);
    width: 100%;
    border-radius: 16px;
    height: 50vh;
}

/* Крестик */
.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}
