<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Q-RYER{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Стили -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/typo.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}">
  {% block head %}{% endblock %}
</head>
<body>


  <main>
    {% block content %}{% endblock %}
  </main>



  <!-- Socket.IO + фронтовая логика -->
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/socket.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
